{{ component( "CeresCoconut::Basket.Components.AddToBasket" ) }}
{{ component( "CeresCoconut::Item.Components.AddToWishList" ) }}
{{ component( "CeresCoconut::Item.Components.GraduatedPrices" ) }}
{{ component( "Ceres::Item.Components.ItemBundle" ) }}
{{ component( "Ceres::Item.Components.ItemImageCarousel" ) }}
{{ component( "Ceres::Item.Components.OldVariationSelect" ) }}
{{ component( "Ceres::Item.Components.OrderProperties" ) }}
{{ component( "Ceres::Item.Components.OrderPropertyList" ) }}
{{ component( "CeresCoconut::Item.Components.SingleItem" ) }}
{{ component( "CeresCoconut::Item.Components.VariationSelect" ) }}

<!-- weitere Cross Selling Listen -->
{% set lang = services.sessionStorage.getLang() %}
{% set newId = services.category.get(247, lang) %}
{% set saleId = services.category.get(248, lang) %}

{% set crossSellingItemsAccessory = services.item.getItemCrossSellingList(item.documents[0].data.item.id, "Accessory") %}
{% set crossSellingItemsSimilar = services.item.getItemCrossSellingList(item.documents[0].data.item.id, "Similar") %}

<!-- ENDE -->

<single-item v-cloak item-data="{{ item | json_data }}" attributes-data="{{ attributes | json_data }}" variations="{{ variations | json_data }}">
    <template #before-price>{{ LayoutContainer.show("Ceres::SingleItem.BeforePrice", item.documents[0].data) }}</template>
    <template #after-price>{{ LayoutContainer.show("Ceres::SingleItem.AfterPrice", item.documents[0].data) }}</template>
    <template #before-add-to-basket>{{ LayoutContainer.show("Ceres::SingleItem.BeforeAddToBasket", item.documents[0].data) }}</template>
    <template #after-add-to-basket>{{ LayoutContainer.show("Ceres::SingleItem.AfterAddToBasket", item.documents[0].data) }}</template>
    <template #additional-content-after-add-to-basket>{{ LayoutContainer.show("Ceres::SingleItem.AdditionalContentAfterAddToBasket", item.documents[0].data) }}</template>
    <template #additional-content-after-vat>{{ LayoutContainer.show("Ceres::SingleItem.AdditionalContentAfterVAT", item.documents[0].data) }}</template>
    <template #add-detail-tabs>{{ LayoutContainer.show("Ceres::SingleItem.AddDetailTabs", item.documents[0].data) }}</template>
    <template #add-detail-tabs-content>{{ LayoutContainer.show("Ceres::SingleItem.AddDetailTabsContent", item.documents[0].data) }}</template>
    <template #item-list-container>{{ LayoutContainer.show("Ceres::SingleItem.ItemListContainer", item) }}</template>
    <template #feedback-container>{{ LayoutContainer.show("Ceres::SingleItem.FeedbackContainer", item) }}</template>
    <template #image-carousel>
        {% set ImageCarouselOverride = LayoutContainer.show("Ceres::SingleItem.ImageCarousel") %}
        {% if ImageCarouselOverride|trim is empty %}
            <item-image-carousel image-url-accessor="url" template="#vue-item-image-carousel"></item-image-carousel>
        {% else %}
            {{ ImageCarouselOverride }}
        {% endif %}
    </template>
    <div slot="crossSellingItemsSimilar">
          {% if crossSellingItemsSimilar | length > 0 %}

              {% set crossSimilarItemIds = [] %}

              {% for crossSimilarItem in crossSellingItemsSimilar %}
                  {% if crossSimilarItemIds | length < 16 %}
                      {% set crossSimilarItemIds = crossSimilarItemIds|merge([crossSimilarItem.crossItemId]) %}
                  {% endif %}
              {% endfor %}

              {% set crossSimilarItemDetails = services.itemLoader.loadForTemplate('DeinTheme::ItemList.ItemListView', itemLoaderPresets.items, {'itemIds':crossSimilarItemIds}) %}

              <h3>&Auml;hnliche Artikel</h3>
              <ul class="product-list row grid crossselling-list crossselling-similar">
                  {% for item in crossSimilarItemDetails.documents %}
                      <li class="col-xs-6">
                          {% include "CeresCoconut::Category.Item.Partials.CrosssellingItem" with { 'item': item } %}
                      </li>
                  {% endfor %}
              </ul>
          {% endif %}<!-- ./Ähnliche Artikel -->
      </div>
      <div slot="crossSellingItemsAccessory">
          <div class="row">
              <div class="col-xs-12">

                  {% if crossSellingItemsAccessory | length > 0 %}

                      {% set crossAccessoryItemIds = [] %}

                      {% for crossAccessoryItem in crossSellingItemsAccessory %}
                          {% if crossAccessoryItemIds | length < 16 %}
                              {% set crossAccessoryItemIds = crossAccessoryItemIds|merge([crossAccessoryItem.crossItemId]) %}
                          {% endif %}
                      {% endfor %}

                      {% set crossAccessoryItemDetails = services.itemLoader.loadForTemplate('DeinTheme::ItemList.ItemListView', itemLoaderPresets.items, {'itemIds':crossAccessoryItemIds}) %}

                      <h3>passendes Zubeh&ouml;r</h3>
                      <ul class="product-list row grid crossselling-list crossselling-accessory">
                          {% for item in crossAccessoryItemDetails.documents %}
                              <li class="col-xs-6 col-md-3">
                                  {% include "CeresCoconut::Category.Item.Partials.CrosssellingItem" with { 'item': item } %}
                              </li>
                          {% endfor %}
                      </ul>
                  {% endif %}

              </div>
          </div><!-- ./Zubehör -->
      </div>

</single-item>
<!-- -->
