<div v-stick-in-parent>
  <div class="item-facts">
    <ul class="product-names">
      <li class="h5 title"><img :src="currentVariation.item.manufacturer.logo" :alt="currentVariation.item.manufacturer.externalName"></li>
      <li class="h2 title">${ currentVariation | itemName }</li>
      <li class="h5 title">${ currentVariation.texts.name3 }</li>
    </ul>
    <hr>
    {% if ('item.shortDescription' in itemData or 'all' in itemData)%}
        <p class="single-description font-style-handwritten" v-if="currentVariation.texts.shortDescription !== ''" v-html="currentVariation.texts.shortDescription"></p>
    {% endif %}
    <div class="mb-5">
      <dl class="small">
        <dt class="font-weight-bold">{{ trans("Ceres::Template.singleItemNumber") }}</dt>
          <dd>${ currentVariation.variation.number }</dd>
        <dt class="font-weight-bold" v-if="currentVariation.unit">Inhalt / Menge:</dt>
          <dd v-if="currentVariation.unit">
            <dd v-if="currentVariation.ids.categories.all[1] == 429">1x Fahrrad, 1x Starter-Kit Werkzeug</dd>
            <dd v-else>
              <span>${ currentVariation.unit.content | numberFormat }</span>
              <span>${ currentVariation.unit.names.name }</span>
            </dd>
            <dt class="font-weight-bold">Lieferzeit</dt>
              <dd v-if="currentVariation.ids.categories.all[1] == 429">ca. 3 bis 5 Werktage</dd>
              <dd v-else>ca. 1 bis 2 Werktage</dd>
            <dt class="font-weight-bold" v-if="currentVariation.variation.mayShowUnitPrice">{{ trans("Ceres::Template.singleItemUnitPrice") }}</dt>
          <dd v-if="currentVariation.variation.mayShowUnitPrice">${ variationGraduatedPrice.basePrice | specialOffer(currentVariation.prices, "basePrice") }</dd>
      </dl>
    </div>

    <!-- Variation enthaelt groessen-check-->

      <div class="mb-2" v-if="variations.length > 0">
        <variation-select template="#vue-variation-select" :attributes="attributeNameMap" :variation-units="variationUnits" :variations="variations" :preselect="currentVariation.variation.id" :unitPreselect="currentVariation.variation.unitCombinationId" @is-valid-change="isVariationSelected = $event"></variation-select>
      </div>

      <div v-if="currentVariation.attributes.length && currentVariation.attributes[0].attribute.names.name == 'Rahmengröße'">
        <hr>
        <div class="col-12 mb-3">
          <a data-toggle="modal" href="#Groessen-check" class="text-muted">
            <div class="row">
              <div class="col-1 p-0"><img class="mx-2" style="max-height:40px;" src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Webshop-Grafiken/groessencheck.svg"></div>
              <div class="col-11 p-0 pl-3">Ben&ouml;tigst Du Hilfe bei der Auswahl<br> der richtigen Rahmengr&ouml;&szlig;e?</div>
            </div>
          </a>
        </div>
        <hr>
      </div>
    <!-- /Variation -->

    <!-- Item Bundle -->
    <item-bundle :bundle-type="currentVariation.variation.bundleType" :bundle-components="currentVariation.bundleComponents"></item-bundle>
    <!-- /Item Bundle -->

    <slot name="BeforePrice"></slot>

    <div class="row" v-if="currentVariation.filter.isSalable && variationGroupedProperties.length">
        <order-property-list></order-property-list>
    </div>

    <graduated-prices template="#vue-graduated-prices"></graduated-prices>

    {% if ('item.recommendedPrice' in itemData or 'all' in itemData) %}
        <div style="float:left;" class="crossprice" v-if="currentVariation.prices.rrp && currentVariation.prices.rrp.unitPrice.value > 0 && currentVariation.prices.rrp.unitPrice.value > currentVariation.prices.default.unitPrice.value">
            ${ currentVariation.prices.rrp.unitPrice.formatted } *
        </div>
    {% endif %}

    <span style="clear:left;" class="price h1">
                            <span ref="variationTotalPrice" :content="currentVariation.prices.default.price.value">
                                ${ variationTotalPrice | currency(currentVariation.prices.default.currency) }
                            </span>
                            <span :content="currentVariation.prices.default.currency"></span>
    </span>

    <span class="vat small text-muted">
          {% if services.customer.showNetPrices() %}{{ trans("Ceres::Template.singleItemExclVAT") }}{% else %}{{ trans("Ceres::Template.singleItemInclVAT") }}{% endif %} zzgl. optionaler
        <a {% if shippingCat is not empty %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.singleItemShippingCosts") }}">{{ trans("Ceres::Template.singleItemShippingCosts") }}</a>
    </span>

    <slot name="AfterPrice"></slot>

    <span v-if="currentVariation.variation.availability" :class="'mt-4 availability badge availability_' + currentVariation.variation.availability.id">
                            <span>
                                ${ currentVariation.variation.availability.names.name }
                            </span>
    </span>

    <div class="row my-3">
        <div class="w-100">
            <slot name="BeforeAddToBasket"></slot>
        </div>

        <div class="w-100">
            {{ AddToBasket.printVueComponent(
                "currentVariation",
                false,
                true,
                {
                    ":missing-order-properties":"variationMissingProperties",
                    ":is-variation-selected": "isVariationSelected && currentVariation.filter.isSalable"
                }
            ) }}
        </div>

        <div class="w-100">
            <slot name="AfterAddToBasket"></slot>
        </div>
    </div>
    <hr>

        <div class="row">
          {% if "wish-list" in enabledRoutes or "all" in enabledRoutes %}
          <div class="col-xs-6 col-sm-4 col-lg-4">
            <add-to-wish-list :variation-id="currentVariation.variation.id"></add-to-wish-list>
          </div>
          {% endif %}
          <div class="col-xs-6 col-sm-4 col-lg-4"><a data-toggle="modal" href="#Frage-stellen" class="text-muted add-to-wish-list"><i class="fa fa-paper-plane"></i> Frage stellen</a>
          </div>
        </div>

    <!-- /ITEM DETAIL -->

    <slot name="AdditionalContentAfterAddToBasket"></slot>

    <slot name="AdditionalContentAfterVAT"></slot>

  </div>
</div>
<!-- Frage stellen am  Artikel -->
<div id="frage-modal-wrapper">
    <div class="modal fade" id="Frage-stellen" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title h3">Ich habe eine Frage zum Produkt.</div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  {% include "CeresCoconut::Item.Components.SingleItem.SingleItem_Frage" %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./Frage stellen am Artikel -->
<!-- Groessen-Check -->
<div id="groessen-modal-wrapper">
    <div class="modal fade" id="Groessen-check" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title h3">Wir helfen Dir hier bei der richtigen Auswahl der Rahmengröße!</div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="row p-0 m-0">
                    <div class="col-12"><h3 class="text-center mb-3">1. Schrittlänge messen</h3></div>
                    <div class="col-xs-6 col-md-7 col-lg-8 font-size-075">
                      <p>Stell Dich zum Messen in gerader Körperhaltung an eine Wand. Nimm eine Wasserwaage und klemme sie zwischen die Beine. Die Wasserwaage
                        bis zum Schritt ziehen und waagerecht halten. Statt einer Wasserwaage kannst Du auch ein Buch verwenden.
                        Miss nun den Abstand (in cm) von der Oberkante der Wasserwaage bis zum Boden. Das ist Deine Schrittlänge.
                      </p>
                    </div>
                    <div class="col-xs-6 col-md-5 col-lg-4"><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Webshop-Grafiken/schritthoehe_grafik.png" alt="Grafik Schritthoehe" title="Grafik Schritthoehe"></div>
                  </div>
                  <hr>
                  <div class="row p-0 m-0">
                    <div class="col-12"><h3 class="text-center mb-3">2. Rahmengröße berechnen</h3></div>
                    <div class="col-xs-6 col-md-7 col-lg-8 font-size-075">
                      <p>Die Rahmengröße ist das Maß zwischen Tretlager und Sattelklemme. Diese fällt bei den jeweiligen Fahrradtypen unterschiedlich aus. Alle Maße werden in Zentimeter angegeben.
                      </p>
                    </div>
                    <div class="col-12">
                      <dl style="float:left; width:50%">
                        <dt class="bold">Cityfahrrad</dt><dd>Schrittlänge x 0,66</dd>
                        <dt class="bold">Trekkingfahrrad</dt><dd>Schrittlänge x 0,66</dd>
                        <dt class="bold">MTB / Fitness</dt><dd>Schrittlänge x 0,61</dd>
                      </dl>
                      <dl style="float:left; width:50%">
                        <dt class="bold">Kinderfahrrad</dt><dd>Schrittlänge x 0,61</dd>
                        <dt class="bold">Crossfahrrad</dt><dd>Schrittlänge x 0,66</dd>
                        <dt class="bold">Rennrad</dt><dd>Schrittlänge x 0,665</dd>
                      </dl>
                    </div>
                    <div class="col-xs-6 col-md-5 col-lg-4"><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Webshop-Grafiken/rahmenhoehe_grafik.png" alt="Grafik Schritthoehe" title="Grafik Schritthoehe"></div>
                      <div class="col-12 font-size-075">
                        <p>Sollte das Ergebnis zwischen zwei möglichen Rahmengrößen liegen, empfehlen wir für sportliche Fahrer im Bereich MTB & Rennrad eine kleinere Rahmenhöhe zu wählen.
                          Bei allen anderen Kategorien ist ein kleinerer Rahmen auch kürzer, was den Komfort verbessert. Ein größerer Rahmen ist länger, was sich bei großen Fahrern positiv auswirkt.
                        </p>
                      </div>
                    </div>
                    <hr>
                    <div class="row p-0 m-0">
                      <div class="col-12"><h3 class="text-center mb-3">3. Sattelhöhe einstellen</h3></div>
                      <div class="col-xs-6 col-md-7 col-lg-8 font-size-075">
                        <p>Die Sattelhöhe ist bei allen Fahrradtypen gleich und wird vom Tretlager bis zum Sattel gemessen.
                           Das Maß gibt die empfohlene Sitzhöhe an und sorgt für die richtige Streckung der Beine.<br><br>
                           <span class="font-weight-bold">Schrittlänge x 0,89</span> = Sattelhöhe bei allen Fahrradtypen
                        </p>
                      </div>
                      <div class="col-xs-6 col-md-5 col-lg-4"><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Webshop-Grafiken/sattelhoehe_grafik.png" alt="Grafik Schritthoehe" title="Grafik Schritthoehe"></div>
                    </div>
                    <hr>
                    <div class="row p-0 m-0">
                      <div class="col-12"><h3 class="text-center mb-3">Bei Rückfragen erreichst Du uns unter:<br>
                      Tel. 0 34 91 / 45 90 114</h3></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./Groessen-Check -->
