
  <div class="item-facts">
    <div class="product-names">
      <div class="mb-1"><img :src="currentVariation.item.manufacturer.logo" :alt="currentVariation.item.manufacturer.externalName"></div>
      <h1 class="h1 title" :title="currentVariation.item.manufacturer.externalName + currentVariation.texts.name1">${ currentVariation | itemName }</h1>
      <div class="h5">${ currentVariation.texts.name3 }</div>
    </div>
    <hr>
    {% if ('item.shortDescription' in itemData or 'all' in itemData)%}
        <p class="single-description font-style-handwritten" v-if="currentVariation.texts.shortDescription !== ''" v-html="currentVariation.texts.shortDescription"></p>
    {% endif %}
    <div class="mb-5">
      <dl class="small">
        <dt class="font-weight-bold">{{ trans("Ceres::Template.singleItemNumber") }}</dt>
          <dd>${ currentVariation.variation.number }</dd>
        <dt class="font-weight-bold" v-if="currentVariation.unit">Inhalt / Menge:</dt>
          <dd v-if="currentVariation.unit">
            <dd v-if="currentVariation.ids.categories.all[1] == 429 || currentVariation.ids.categories.all[1] == 613">1x Fahrrad, 1x Starter-Kit Werkzeug</dd>
            <dd v-else>
              <span>${ currentVariation.unit.content | numberFormat }</span>
              <span>${ currentVariation.unit.names.name }</span>
            </dd>
            <dt class="font-weight-bold">Lieferzeit</dt>
              <dd v-if="currentVariation.ids.categories.all[1] == 429 || currentVariation.ids.categories.all[1] == 613">ca. 3 bis 5 Werktage</dd>
              <dd v-else>ca. 1 bis 2 Werktage</dd>
            <dt class="font-weight-bold" v-if="currentVariation.variation.mayShowUnitPrice">{{ trans("Ceres::Template.singleItemUnitPrice") }}</dt>
          <dd v-if="currentVariation.variation.mayShowUnitPrice">${ variationGraduatedPrice.basePrice | specialOffer(currentVariation.prices, "basePrice") }</dd>
      </dl>
    </div>

    <!-- Variation enthaelt groessen-check-->

    <div class="mb-3" v-if="attributes.length || Object.keys(units).length">
        <variation-select></variation-select>
    </div>

      <div v-if="currentVariation.attributes.length && currentVariation.attributes[0].attribute.names.name == 'Rahmengröße'">
        <hr>
        <div class="col-12 mb-3">
          <a data-toggle="modal" href="#Groessen-check" class="text-muted">
            <div class="row">
              <div class="col-1 p-0"><img class="mx-2" style="max-height:40px;" src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Webshop-Grafiken/groessencheck.svg"></div>
              <div class="col-11 p-0 pl-3">Ben&ouml;tigst du Hilfe bei der Auswahl<br> der richtigen Rahmengr&ouml;&szlig;e?</div>
            </div>
          </a>
        </div>
        <hr>
      </div>
    <!-- /Variation -->

    <slot name="BeforePrice"></slot>

    <div class="row" v-if="currentVariation.filter.isSalable && variationGroupedProperties.length">
        <order-property-list></order-property-list>
    </div>

    <graduated-prices template="#vue-graduated-prices"></graduated-prices>

    {% if ('item.recommendedPrice' in itemData or 'all' in itemData) %}
        <div style="float:left;" class="crossprice" v-if="currentVariation.prices.rrp && currentVariation.prices.rrp.unitPrice.value > 0 && currentVariation.prices.rrp.unitPrice.value > currentVariation.prices.default.unitPrice.value">
            ${ currentVariation.prices.rrp.unitPrice.formatted } *
        </div>
    {% endif %}

    <span style="clear:left;" class="price h1">
                            <span ref="variationTotalPrice" :content="currentVariation.prices.default.price.value">
                                ${ variationTotalPrice | currency(currentVariation.prices.default.currency) }
                            </span>
                            <span :content="currentVariation.prices.default.currency"></span>
    </span>

    <span class="vat small text-muted" style="display:block;">
          {% if services.customer.showNetPrices() %}{{ trans("Ceres::Template.singleItemExclVAT") }}{% else %}{{ trans("Ceres::Template.singleItemInclVAT") }}{% endif %} zzgl. optionaler
        <a {% if shippingCat is not empty %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.singleItemShippingCosts") }}">{{ trans("Ceres::Template.singleItemShippingCosts") }}</a>
    </span>

    <slot name="AfterPrice"></slot>

    <span v-if="currentVariation.variation.availability" :class="'mt-1 availability badge availability_' + currentVariation.variation.availability.id">
                            <span>
                                ${ currentVariation.variation.availability.names.name }
                            </span>
    </span>

    <div class="row my-3">
        <div class="w-100">
            <slot name="BeforeAddToBasket"></slot>
        </div>

        <div class="w-100">
            {{ AddToBasket.printVueComponent(
                "currentVariation",
                false,
                true,
                {
                    ":missing-order-properties":"variationMissingProperties",
                    ":is-variation-selected": "isVariationSelected && currentVariation.filter.isSalable"
                  }
            ) }}
        </div>

        <div class="w-100">
            <slot name="AfterAddToBasket"></slot>
        </div>
    </div>
    <hr>

        <div class="row">
          {% if "wish-list" in enabledRoutes or "all" in enabledRoutes %}
          <div class="col-xs-6 col-sm-4 col-lg-4">
            <add-to-wish-list :variation-id="currentVariation.variation.id"></add-to-wish-list>
          </div>
          {% endif %}
          <div class="col-xs-6 col-sm-4 col-lg-4"><a data-toggle="modal" href="#Frage-stellen" class="text-muted add-to-wish-list"><i class="fa fa-paper-plane"></i> Frage stellen</a>
          </div>
        </div>

      <hr>

      <div v-if="currentVariation.ids.categories.all[1] == 429"  class="row">
        <p class="col-12"> Dieses Fahrrad kannst du auch leasen. Bitte kontaktiere uns in diesem Fall &uuml;ber das <a href="{{ urls.contact }}"><span style="text-decoration:underline">Kontaktformular</span></a>. Wir k&uuml;mmern uns umgehend um deine Leasinganfrage.
        </p>
        <div class="col-12">
          <ul class="my-1 image-list float-left">
            <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/jobrad_logo.png" alt="Jobrad-Leasing"></li>
            <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/eurorad_logo.png" alt="Eurorad-Leasing"></li>
            <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/businessbike_logo.png" alt="Businessbike-Leasing"></li>
            <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/radelndemitarbeiter_logo.png" alt="Radelnde-Mitarbeiter-Leasing" title="Radelnde-Mitarbeiter-Leasing"></li>
          </ul>
        </div>
      </div>
    <!-- /ITEM DETAIL -->

    <slot name="AdditionalContentAfterAddToBasket"></slot>

    <slot name="AdditionalContentAfterVAT"></slot>

  </div>

<!-- Frage stellen am  Artikel -->
<div id="frage-modal-wrapper">
    <div class="modal fade" id="Frage-stellen" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title h3 text-center">Ich habe eine Frage zum Produkt.</div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  {% include "CeresCoconut::Item.Components.SingleItem.SingleItem_Frage" %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./Frage stellen am Artikel -->
<!-- Groessen-Check -->
<div id="groessen-modal-wrapper">
    <div class="modal fade" id="Groessen-check" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title h3 text-center">Wir helfen dir bei der Auswahl der passenden Rahmengr&ouml;&szlig;e!</div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="row p-0 m-0">
                    <div class="col-12"><h3 class="text-center mb-3">1. Schrittl&auml;nge messen</h3></div>
                    <div class="col-xs-6 col-md-7 col-lg-8 font-size-075">
                      <p>Stell dich zum Messen in gerader K&ouml;rperhaltung an eine Wand. Nimm eine Wasserwaage und klemme sie zwischen die Beine. Die Wasserwaage
                        bis zum Schritt ziehen und waagerecht halten. Statt einer Wasserwaage kannst du auch ein Buch verwenden.
                        Miss nun den Abstand (in cm) von der Oberkante der Wasserwaage bis zum Boden. Das ist deine Schrittl&auml;nge.
                      </p>
                    </div>
                    <div class="col-xs-6 col-md-5 col-lg-4"><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Webshop-Grafiken/schritthoehe_grafik.png" alt="Grafik Schritthoehe" title="Grafik Schritthoehe"></div>
                  </div>
                  <hr>
                  <div class="row p-0 m-0">
                    <div class="col-12"><h3 class="text-center mb-3">2. Rahmengr&ouml;&szlig;e berechnen</h3></div>
                    <div class="col-xs-6 col-md-7 col-lg-8 font-size-075">
                      <p>Die Rahmengr&ouml;&szlig;e ist das Ma&szlig; zwischen Tretlager und Sattelklemme. Diese f&auml;llt bei den jeweiligen Fahrradtypen unterschiedlich aus. Alle Ma&szlig;e werden in Zentimeter angegeben.
                      </p>
                    </div>
                    <div class="col-xs-6 col-md-5 col-lg-4"><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Webshop-Grafiken/rahmenhoehe_grafik.png" alt="Grafik Schritthoehe" title="Grafik Schritthoehe"></div>
                    <div class="col-12">
                      <dl style="float:left; width:50%">
                        <dt class="font-weight-bold">Cityfahrrad</dt><dd>Schrittl&auml;nge x 0,66</dd>
                        <dt class="font-weight-bold">Trekkingfahrrad</dt><dd>Schrittl&auml;nge x 0,66</dd>
                        <dt class="font-weight-bold">MTB / Fitness</dt><dd>Schrittl&auml;nge x 0,61</dd>
                      </dl>
                      <dl style="float:left; width:50%">
                        <dt class="font-weight-bold">Kinderfahrrad</dt><dd>Schrittl&auml;nge x 0,61</dd>
                        <dt class="font-weight-bold">Crossfahrrad</dt><dd>Schrittl&auml;nge x 0,66</dd>
                        <dt class="font-weight-bold">Rennrad</dt><dd>Schrittl&auml;nge x 0,665</dd>
                      </dl>
                    </div>
                      <div class="col-12 font-size-075">
                        <p>Sollte das Ergebnis zwischen zwei m&ouml;glichen Rahmengr&ouml;&szlig;en liegen, empfehlen wir f&uuml;r sportliche Fahrer im Bereich MTB & Rennrad eine kleinere Rahmenh&ouml;he zu w&auml;hlen.
                          Bei allen anderen Kategorien ist ein kleinerer Rahmen auch k&uuml;rzer, was den Komfort verbessert. Ein gr&ouml;&szlig;erer Rahmen ist l&auml;nger, was sich bei gro&szlig;en Fahrern positiv auf die Sitzhaltung auswirkt.
                        </p>
                      </div>
                    </div>
                    <hr>
                    <div class="row p-0 m-0">
                      <div class="col-12"><h3 class="text-center mb-3">3. Sattelh&ouml;he einstellen</h3></div>
                      <div class="col-xs-6 col-md-7 col-lg-8 font-size-075">
                        <p>Die Sattelh&ouml;he ist bei allen Fahrradtypen gleich und wird vom Tretlager bis zum Sattel gemessen.
                           Das Ma&szlig; gibt die empfohlene Sitzh&ouml;he an und sorgt f&uuml;r die richtige Streckung der Beine.<br><br>
                           <span class="font-weight-bold">Schrittl&auml;nge x 0,89</span> = Sattelh&ouml;he bei allen Fahrradtypen
                        </p>
                      </div>
                      <div class="col-xs-6 col-md-5 col-lg-4"><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Webshop-Grafiken/sattelhoehe_grafik.png" alt="Grafik Schritthoehe" title="Grafik Schritthoehe"></div>
                    </div>
                    <hr>
                    <div class="row p-0 m-0">
                      <div class="col-12"><h3 class="text-center mb-3">Bei R&uuml;ckfragen erreichst Du uns unter:<br>
                      Tel. 0 34 91 / 45 90 114</h3></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./Groessen-Check -->
