<div v-stick-in-parent>
  <div class="item-facts">
    <ul class="product-names">
      <li class="h5 title"><img :src="currentVariation.item.manufacturer.logo" :alt="currentVariation.item.manufacturer.externalName"></li>
      <li class="h2 title">${ currentVariation | itemName }</li>
      <li class="h5 title">${ currentVariation.texts.name3 }</li>
    </ul>
    <hr>
    {% if ('item.shortDescription' in itemData or 'all' in itemData)%}
        <p class="single-description font-style-handwritten" v-if="currentVariation.texts.shortDescription !== ''" v-html="currentVariation.texts.shortDescription"></p>
    {% endif %}
    <div class="mb-5">
      <dl class="small">
        <dt class="font-weight-bold">{{ trans("Ceres::Template.singleItemNumber") }}</dt>
          <dd>${ currentVariation.variation.number }</dd>
        <dt class="font-weight-bold" v-if="currentVariation.unit">Inhalt / Menge:</dt>
          <dd v-if="currentVariation.unit">
            <span>${ currentVariation.unit.content | numberFormat }</span>
            <span>${ currentVariation.unit.names.name }</span></dd>
        <dt class="font-weight-bold" v-if="currentVariation.variation.mayShowUnitPrice">{{ trans("Ceres::Template.singleItemUnitPrice") }}</dt>
          <dd v-if="currentVariation.variation.mayShowUnitPrice">${ variationGraduatedPrice.basePrice | specialOffer(currentVariation.prices, "basePrice") }</dd>
      </dl>
    </div>

    <!-- Variation enthält groessen-check-->

      <div class="mb-2" v-if="variations.length > 0">
        <variation-select template="#vue-variation-select" :attributes="attributeNameMap" :variation-units="variationUnits" :variations="variations" :preselect="currentVariation.variation.id" :unitPreselect="currentVariation.variation.unitCombinationId" @is-valid-change="isVariationSelected = $event"></variation-select>
      </div>

    <!-- /Variation -->

    <!-- Item Bundle -->
    <item-bundle :bundle-type="currentVariation.variation.bundleType" :bundle-components="currentVariation.bundleComponents"></item-bundle>
    <!-- /Item Bundle -->

    <slot name="BeforePrice"></slot>

    <div class="row" v-if="currentVariation.filter.isSalable && variationGroupedProperties.length">
        <order-property-list></order-property-list>
    </div>

    <graduated-prices template="#vue-graduated-prices"></graduated-prices>

    {% if ('item.recommendedPrice' in itemData or 'all' in itemData) %}
        <div style="float:left;" class="crossprice" v-if="currentVariation.prices.rrp && currentVariation.prices.rrp.unitPrice.value > 0 && currentVariation.prices.rrp.unitPrice.value > currentVariation.prices.default.unitPrice.value">
            ${ currentVariation.prices.rrp.unitPrice.formatted } *
        </div>
    {% endif %}

    <span style="clear:left;" class="price h1">
                            <span ref="variationTotalPrice" :content="currentVariation.prices.default.price.value">
                                ${ variationTotalPrice | currency(currentVariation.prices.default.currency) }
                            </span>
                            <span :content="currentVariation.prices.default.currency"></span>
    </span>

    <span class="vat small text-muted">
          {% if services.customer.showNetPrices() %}{{ trans("Ceres::Template.singleItemExclVAT") }}{% else %}{{ trans("Ceres::Template.singleItemInclVAT") }}{% endif %} zzgl. optionaler
        <a {% if shippingCat is not empty %} data-toggle="modal" href="#shippingscosts"{% endif %} title="{{ trans("Ceres::Template.singleItemShippingCosts") }}">{{ trans("Ceres::Template.singleItemShippingCosts") }}</a>
    </span>

    <slot name="AfterPrice"></slot>

    <span v-if="currentVariation.variation.availability" :class="'mt-4 availability badge availability_' + currentVariation.variation.availability.id">
                            <span>
                                ${ currentVariation.variation.availability.names.name }
                            </span>
    </span>

    <div class="row my-3">
        <div class="w-100">
            <slot name="BeforeAddToBasket"></slot>
        </div>

        <div class="w-100">
            {{ AddToBasket.printVueComponent(
                "currentVariation",
                false,
                true,
                {
                    ":missing-order-properties":"variationMissingProperties",
                    ":is-variation-selected": "isVariationSelected && currentVariation.filter.isSalable"
                }
            ) }}
        </div>

        <div class="w-100">
            <slot name="AfterAddToBasket"></slot>
        </div>
    </div>
    <hr>
    {% if "wish-list" in enabledRoutes or "all" in enabledRoutes %}
        <div class="row">
          <div class="col-4">
            <add-to-wish-list :variation-id="currentVariation.variation.id"></add-to-wish-list>
          </div>
          <div class="col-4"><a data-toggle="modal" href="#Frage-stellen" class="text-muted small add-to-wish-list"><i class="fa fa-paper-plane"></i> Frage stellen</a>
          </div>
          <div class="col-4"><a data-toggle="modal" href="#Rueckruf-anfordern" class="text-muted small add-to-wish-list"><i class="fa fa-phone"></i> R&uuml;ckruf anfordern</a>
          </div>
        </div>
    {% endif %}
    <!-- /ITEM DETAIL -->

    <slot name="AdditionalContentAfterAddToBasket"></slot>

    <slot name="AdditionalContentAfterVAT"></slot>
    <div class="mt-4 px-2 py-2 grey-mid competence-features">
      <div class="row">
        <div class="col-6">
          <img class="pull-left m-2" style="max-height:40px" src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Webshop-Grafiken/fahrrad_testen.svg">
          <p class="pt-2 m-0 small text-center">Dieses Modell kannst du in unseren Filialen testen!</p>
        </div>
        <div class="col-6">
          <img class="pull-left m-2" style="max-height:40px" src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/Webshop-Grafiken/montage.svg">
          <p class="pt-2 m-0 small text-center">Dein Wunschfahrrad wird fahrbereit montiert<br> und stehend versendet!</p>
        </div>
      </div>
    </div>
<!--Kontakt -->

<p> unten steht der Inhalt aus contact</p>

{% set mailRegex		= "[a-zA-Z0-9!#$%&'*+\\/=?^_`{|}~-]+(?:\\.[a-zA-Z0-9!#$%&'*+\\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?" %}
{% set contactConfigSet = not config("Ceres.contact.show_data") is empty or config("Ceres.contact.show_data") == "all" %}

<script type="x/template" id="vue-contact-form">
	{{ component("Ceres::Customer.Components.Contact.AcceptPrivacyPolicyCheck") }}

	<div class="row cmp-contact">

		<div class="col-12">
			<h1>{{ trans("Ceres::Template.contact") }}</h1>

			<hr>

			<p class="mb-5">
                {{ trans("Ceres::Template.contactShopMessage") }}
			</p>

			<div class="row">

  				<div class="col-12{% if contactConfigSet %} col-sm-12 col-md-8 col-lg-9{% endif %}">
					<form id="contact-form" class="row">

						<div class="col-12 col-md-6 mb-3">
							<div class="input-unit input-name-field">
								<input type="name" name="name" v-model="name" id="txt_name">
								<label for="txt_name">{{ trans("Ceres::Template.contactName") }} ({{ trans("Ceres::Template.contactOptional") }})</label>
							</div>
						</div>
						<div class="col-12 col-md-6 mb-3">
							<div class="input-unit input-mail-field" data-validate="regex" data-model="userMail">
								{% set uid_mail = uid() %}
								<input type="email" name="email" v-model="userMail" id="{{ uid_mail }}" data-validate-ref="{{ mailRegex }}">
								<label for="{{ uid_mail }}">{{ trans("Ceres::Template.contactMail") }}*</label>
							</div>
							<div class="error-feedback">{{ trans("Ceres::Template.contactEnterConfirmEmail") }}</div>
						</div>
						<div class="col-12 col-md-6 mb-3">
							<div class="input-unit" data-validate="text" data-model="subject">
								<input type="subject" name="subject" v-model="subject" id="txt_subject">
								<label for="txt_subject">{{ trans("Ceres::Template.contactSubject") }}*</label>
							</div>
							<div class="error-feedback">{{ trans("Ceres::Template.contactEditSubject") }}</div>
						</div>
						<div class="col-12 col-md-6 mb-3">
							<div class="input-unit">
								<input type="order" name="order" v-model="orderId" id="txt_order">
								<label for="txt_order">{{ trans("Ceres::Template.contactOrderId") }} ({{ trans("Ceres::Template.contactOptional") }})</label>
							</div>
						</div>

						<div class="col-12">
							<div class="input-unit textarea" data-validate="text" data-model="message">
								<textarea name="message" id="txt_message" v-model="message" class="no-resize" rows="15" cols="25"></textarea>
								<label for="txt_message">{{ trans('Ceres::Template.contactMessage') }}*</label>
							</div>
							<div class="error-feedback">{{ trans("Ceres::Template.contactEditMessage") }}</div>
						</div>

						<div class="col-12 text-sm-right">* {{ trans("Ceres::Template.contactRequiredField") }}</div>
					</form>
				</div>

				<div class="col-12 col-md-12 re-captcha-container">
                    {% if gCapture | length > 0 %}
						<div id="recaptcha" class="g-recaptcha"
							 data-sitekey="{{ gCapture }}"
							 data-callback="sendMail"
							 data-size="invisible"
							 data-badge="bottomleft">
						</div>
                    {% endif %}
				</div>

				<div class="col-12 col-md-9">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" id="cc" v-model="cc" value="cc" name="mailToMe">
						<label class="form-check-label" for="cc">
							{{ trans("Ceres::Template.contactSendMeACopy") }}
						</label>
					</div>
				</div>

				<div class="col-12">
					<hr>
				</div>

				<div class="col-12">
					<accept-privacy-policy-check class="mb-3" v-if="enableConfirmingPrivacyPolicy" v-model="privacyPolicyAccepted" @input="privacyPolicyValueChanged($event)" :show-error="privacyPolicyShowError"></accept-privacy-policy-check>
				</div>

				<div class="col-12 col-md-3 offset-md-9 send-mail">
					<button type="submit" class="btn btn-primary btn-block" :disabled="waiting" @click="validate({{ gCapture | length > 0 }})">
						<i v-waiting-animation="waiting" class="fa fa-paper-plane-o" aria-hidden="true"></i>
						{{ trans("Ceres::Template.contactSend") }}
					</button>
				</div>

  		</div>
		</div>
	</div>

	</script>


<!--ENDE Kontakt -->

  </div>
</div>
