{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% include "Ceres::Newsletter.Components.NewsletterInput" %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set topButtonPosition = config('Ceres.footer.to_top_button') %}

{% set footerContainer = LayoutContainer.show("CeresCoconut::Footer") | trim %}
{% if footerContainer is empty %}

<!-- Info-Container -->
<div class="grey-mid mt-4 no-print">
<div class="container-max">
  <div class="row">
    <div class="col-sm-12 col-md-4 px-3 px-lg-5 mb-4">
      <h3 class="text-center my-4">Versand & Lieferung</h3>
      <hr class="border-50">
      <p class="text-center">Nach Eingang der Bestellung werden die Artikel verpackt und mit DPD versendet.
         Sie erhalten Ihre Ware in der Regel innerhalb von 3 Werktagen. F&uuml;r Fahrr&auml;der betr&auml;gt die Lieferzeit ca. 5 Werktage<br>
        <span class="small">Je Bestellung 3,95 EURO | ab 25,- € Warenwert gratis Versand!</span>
      </p>
      <ul class="image-list">
				<li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/IDS-Spedition-Logo.png" alt="IDS" title="IDS-Spedition"></li>
				<li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/dpd_logo.png" alt="DPD" title="DPD-Paketdienst"></li>
			</ul>
    </div>
    <div class="col-sm-12 col-md-4 px-3 px-lg-5 mb-4">
      <h3 class="text-center my-4">Fragen zum Produkt?</h3>
      <hr class="border-50">
      <p class="text-center">F&uuml;r Fragen stehen wir Ihnen jederzeit zur Verf&uuml;gung. Sie erreichen uns von Montag bis Freitag zwischen 9.30 Uhr und 18.30 Uhr.<br><br>
        <span class="font-weight-bold" style="color: #a1000c;">
	         <i aria-hidden="true" class="fa fa-envelope"></i>&nbsp;&nbsp;verkauf@intersport-kloepping.de<br>
	         <i aria-hidden="true" class="fa fa-phone"></i>&nbsp;&nbsp;Tel. 0 34 91 / 45 90 121</span>
      </p>
    </div>
    <div class="col-sm-12 col-md-4 px-3 px-lg-5 mb-4 text-center">
      <h3 class="text-center my-4">Zahlungsm&ouml;glichkeiten</h3>
      <hr class="border-50">
       Paypal • Kauf auf Rechnung • Sofort-Überweisung • Kreditkarte • Vorauskasse • Leasing
      <ul class="image-list">
				<li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/klarna_logo.png" alt="Sofort&uuml;berweisung" title="Sofort&uuml;berweisung"></li>
        <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/de-pp-logo-150px.png" alt="Paypal" title="Paypal"></li>
        <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/vorauskasse100px.png" alt="Vorauskasse" title="Vorauskasse"></li>
        <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/paypal-plus-kombi-logos-ohne-flach.png" alt="Kreditkarte" title="Kreditkarte"></li>
        <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/jobrad_logo.png" alt="Jobrad-Leasing" title="Jobrad-Leasing"></li>
        <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/eurorad_logo.png" alt="Eurorad-Leasing" title="Eurorad-Leasing"></li>
        <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/businessbike_logo.png" alt="Businessbike-Leasing" title="Businessbike-Leasing"></li>
        <li><img src="https://cdn02.plentymarkets.com/ddqwk5nv41fq/frontend/WebDesign-Logos/radelndemitarbeiter_logo.png" alt="Radelnde-Mitarbeiter-Leasing" title="Radelnde-Mitarbeiter-Leasing"></li>
			</ul>
    </div>
  </div>
</div>
</div>

<!-- Newsletter -->
<div class="container-max no-print">
  <div class="row my-4">
    <div class="col-12 mb-5">
      <h2 class="text-center">Exklusiv informiert - unser Newsletter</h2>
      <hr class="border-50">
      <h5 class="text-center">Immer zum richtigen Zeitpunkt: Lass dich &uuml;ber Preisnachlässe, Aktionen und Events auf dem Laufendem halten.</h5>
    </div>
    <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 mb-4">
      <div class="newsletter-bild">
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4">
      <h4 class="font-weight-bold">Deine Vorteile auf einen Blick</h4>
      <ul class="newsletter-benefits m-0 p-0">
        <li><i class="text-color-red fa fa-heart-o"></i>&nbsp;&nbsp;Exklusive Angebote &amp; Preisvorteile</li>
        <li><i class="text-color-red fa fa-heart-o"></i>&nbsp;&nbsp;Einladung zu Events</li>
        <li><i class="text-color-red fa fa-heart-o"></i>&nbsp;&nbsp;Infos zu Aktionen im neuen Onlineshop</li>
        <li><i class="text-color-red fa fa-heart-o"></i>&nbsp;&nbsp;Hinweis zu Sonder&ouml;ffnungszeiten</li>
        <li><i class="text-color-red fa fa-heart-o"></i>&nbsp;&nbsp;Stories &uuml;ber die "INTERSPORT-Kl&ouml;ppinge"</li>
        <li><i class="text-color-red fa fa-heart-o"></i>&nbsp;&nbsp;und einiges mehr...</li>
      </ul>
      <div class="mt-2">
          <newsletter-input
            :show-name-inputs="true"
            :show-privacy-policy-checkbox="true"
            :email-folder="1">
        </newsletter-input>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="footer">

    <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %} hidden-sm-down">
        <i class="fa fa-chevron-up"></i>
    </div>

    <div class="to-top d-md-none" v-scroll-to-top>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>


    <div class="col-12 grey-dark-mobile border-top-red mt-4">
        <div class="row hidden">
            <div class="col-12">
                <div class="footer-services mt-4">
                    {% set paymentMethodContent = LayoutContainer.show("Ceres::Homepage.PaymentMethods") %}
                    {% if paymentMethodContent|trim is not empty %}
                        <div class="services-payment mb-3">
                            <strong class="services-title">{{ trans("Ceres::Template.footerPaymentMethods") }}</strong>
                            {{ paymentMethodContent }}
                        </div>
                    {% endif %}
                    {% set shippingContent = LayoutContainer.show("Ceres::Homepage.Shipping") %}
                    {% if shippingContent|trim is not empty %}
                        <div class="services-shipping mb-3">
                            <strong class="services-title">{{ trans("Ceres::Template.footerOrderShippedBy") }}</strong>
                            {{ shippingContent }}
                        </div>
                    {% endif %}
                    {% set certifiedContent = LayoutContainer.show("Ceres::Homepage.Certified") %}
                    {% if certifiedContent|trim is not empty %}
                        <div class="services-certificate mb-3">
                            <strong class="services-title">{{ trans("Ceres::Template.footerCertifiedBy") }}</strong>
                            {{ certifiedContent }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div>
          <div class="container-max">
            <div class="row flex-row pt-4">
              <div class="col-lg-3 mb-4">
                <h5 class="text-uppercase">&Uuml;ber uns</h5>
                <hr>
                <h5>Intersport Kl&ouml;pping</h5>
                <ul class="footerList">
                  <li>Filiale Lutherstadt Wittenberg</li>
                  <li>Dresdener Stra&szlig;e 165</li>
                  <li>06886 Lutherstadt Wittenberg</li>
                </ul>
                <ul class="footerList">
                  <li>Filiale Jessen</li>
                  <li>Rosa-Luxemburg-Stra&szlig;e 65</li>
                  <li>06917 Jessen (Elster)</li>
                </ul>

              </div>
              <div class="col-lg-3 mb-4">
                <h5 class="text-uppercase">&Oumlffnungszeiten</h5>
                <hr>
                <table class="footerList">
                  <tr><td>Montag &ndash; Freitag</td><td align="right" width="100px">9.30 &ndash; 18.30 Uhr</td></tr>
                  <tr><td>Samstag</td><td align="right" width="100px">10.00 &ndash; 15.00 Uhr</td></tr>
                </table>
              </div>
              <div class="col-lg-3 mb-4">
                <h5 class="text-uppercase">Einkaufen</h5>
                <hr>
                <ul class="footerList">
                  <li><a href="{{ services.category.getURLById(856)  }}">Zahlungsm&ouml;glichkeiten</a></li>
                  <li><a href="{{ services.category.getURLById(855) }}">Versandkosten &amp; Lieferm&ouml;glichkeiten</a></li>
                  <li><a href="{{ services.category.getURLById(1173) }}">kostenfreie R&uuml;cksendung</a></li>
                  {% if services.customer.getContactId() == 0 %}
                  <li><a href="/register">Registrieren</a></li>
                  {% endif %}
                  <li><a href="{{ urls.myAccount }}">Mein Konto</a></li>
                </ul>
              </div>
              <div class="col-lg-3 mb-4">
                <h5 class="text-uppercase">Rechtliches</h5>
                <hr>
                <ul class="footerList">
                  <li><a href="{{ urls.contact }}">Kontakt</a></li>
                  <li><a href="{{ urls.cancellationRights }}">Widerrufsrecht</a></li>
                  <li><a href="{{ urls.cancellationForm }}">Widerrufsformular</a></li>
                  <li><a href="{{ urls.privacyPolicy }}">Datenschutzerkl&auml;rung</a></li>
                  <li><a href="{{ urls.gtc }}">AGB</a></li>
                  <li><a href="{{ urls.legalDisclosure }}">Impressum</a></li>
                  <li><a href="{{ services.category.getURLById(1484) }}">Hinweise lt. Batteriegesetz</a></li>
                </ul>
              </div>
            </div>
            <hr>
            <div class="row flex-row pt-4">
              <div class="col-lg-3">
                <p class="footerList">Bei Fragen stehen wir dir gern telefonisch zur Verf&uuml;gung</p>
              </div>
              <div class="col-lg-3">
                <p class="footerList">VERSAND: 0 34 91 / 45 90 121</p>
              </div>
              <div class="col-lg-3">
                <p class="footerList">SPORT-SHOP: 0 34 91 / 45 90 110</p>
              </div>
              <div class="col-lg-3">
                <p class="footerList">FAHRRAD-SHOP: 0 34 91 / 45 90 114</p>
              </div>
            </div>
            <hr>
            <div class="row flex-row pt-4">
              <div class="col-12">
                <p class="footerList">
                  &copy; Copyright {{ "now" | date("Y") }} Kl&ouml;pping GmbH. Alle Rechte vorbehalten.<br>
                  Alle Preisangaben inklusive Mehrwertsteuer, alle Preise in Euro. Bei durchgestrichenen Preisen mit "*" handelt es
                   sich um ehemalige unverbindliche Preisempfehlungen des Herstellers.
                 </p>
               </div>
            </div>
          </div>
        </div>
        <div class="row hidden">
            <hr class="my-4">
            {% for i in 1..numberOfCols %}
                <div class="col-6 col-sm-3 col-lg-2">
                    <nav class="footer-column mb-4">
                        <h2 class="h5">{{ trans('Ceres::Template.footerColumnTitle' ~ i) }}</h2>
                        <ul class="list-unstyled">

                            {% set footerCategories = config('Ceres.footer.col_' ~ i ~ '_categories') | find("[0-9]+") %}
                            {% for catID in footerCategories %}

                                {% set cat = services.category.get(catID, lang) %}

                                {% if cat is not null %}
                                    {% set displayedCategories = displayedCategories | merge([catID]) %}
                                    <li>
                                        <a href="{{ services.category.getURL( cat ) }}">
                                            {{ cat.details.first.name }}</a>
                                    </li>
                                {% endif %}

                            {% endfor %}

                        </ul>
                    </nav>
                </div>
            {% endfor %}
            <hr class="d-sm-none my-4">
            <div class="col-6 col-sm-3">
                <div class="footer-column">
                    {{ LayoutContainer.show("Ceres::Footer.RowOne") }}
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <div class="footer-column row">
                    {% set rowTwo = LayoutContainer.show("Ceres::Footer.RowTwo") %}

                    {{ rowTwo }}

                    <div class="col-12{% if rowTwo|trim is not empty %} col-sm-6 col-lg-12{% endif %}">
                        {{ LayoutContainer.show("Ceres::Footer.RowThree") }}
                    </div>
                </div>
            </div>
        </div>

        {% set cat = services.category.get(config('Ceres.global.category.legal_disclosure')) %}
        <div class="copyright text-center my-3">
            <div class="static-link-list hidden">
                {% autoescape false %}
                    <a href="{{ urls.cancellationRights }}">{{ trans("Ceres::Template.footerCancellationRight", {"hyphen": "&shy;"}) }}</a>
                    {% if config("Ceres.footer.cancellation_use_pdf") == "true" %}
                        <a href="{{ config('Ceres.footer.cancellation_pdf_path') }}" target="_blank">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a>
                    {% else %}
                        <a href="{{ urls.cancellationForm }}">{{ trans("Ceres::Template.footerCancellationForm", {"hyphen": "&shy;"}) }}</a>
                    {% endif %}
                    <a href="{{ urls.legalDisclosure }}">{{ trans("Ceres::Template.footerLegalDisclosure") }}</a>
                    <a href="{{ urls.privacyPolicy }}">{{ trans("Ceres::Template.footerPrivacyPolicy", {"hyphen": "&shy;"}) }}</a>
                    <a href="{{ urls.gtc }}">{{ trans("Ceres::Template.footerGtc") }}</a>
                    {% if config("Ceres.contact.shop_mail") | length > 0 and config("Ceres.contact.shop_mail") != "your@email.com" %}
                        <a href="{{ urls.contact }}">{{ trans("Ceres::Template.footerContact") }}</a>
                    {% endif %}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="footer container-max">
        <div class="row">
            <div class="col clearfix">
                {{ footerContainer | raw }}
            </div>
        </div>
        <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %} hidden-sm-down">
            <i class="fa fa-chevron-up"></i>
        </div>

        <div class="row">
            <div class="to-top hidden-md-up" v-scroll-to-top>
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </div>
        </div>
    </div>
{% endif %}
